$bg-color: #fbfbfb;
$primary: #008072;
$primary_light: #edfbfc;
$danger: #e05c5c;
$success: #25ac9e;
$warning: #f8a503;
$danger_light: #ffefef;
$primary-dim: #aecacc;
$success-light: #effff7;
$warning-light: #fff8ea;
$light: #ebebeb;
$white: #f3f1f1;
$grey: #737373;
$text-color: #4c5e60;
$product-variant: #f3f3f3;
$basket-item-variants: #f8f9fa;
$text-light-color: #868686;
$bg-color: #fbfbfb;
$border-color: #ebebeb;
$pure-white: #fff;
$text-color: rgb(76, 94, 96);