@import "bootstrap/dist/css/bootstrap.rtl.min.css";
@import "./bootstrap-icons.css";
@import "./componentsStyles/slider";
@import "./layoutsStyles/header";

@import "./componentsStyles/suggestions";
@import "./componentsStyles/menu";
@import "./componentsStyles/contact-us";
@import "./componentsStyles/subscribeToNew";
@import "./PagesStyles/installment";
@import "./PagesStyles/faq";
@font-face {
    font-family: "Vazir";
    src: url(../fonts/Vazir.eot);
    /* IE9 Compat Modes */
    src:
        url(../fonts/Vazir.eot) format("embedded-opentype"),
        url(../fonts/Vazir.woff2) format("woff2"),
        url(../fonts/Vazir.woff) format("woff"),
        url(../fonts/Vazir.ttf) format("truetype");
    /* Safari, Android, iOS */
}
@font-face {
    font-family: "Yekan";
    src: url(../fonts/yekan/yekan.eot);
    /* IE9 Compat Modes */
    src:
        url(../fonts/yekan/yekan-regular.eot) format("embedded-opentype"),
        url(../fonts/yekan/yekan-regular.woff) format("woff2"),
        url(../fonts/yekan/yekan.woff) format("woff"),
        url(../fonts/yekan/yekan.ttf) format("truetype");
    /* Safari, Android, iOS */
}

body {
    overflow-x: hidden;
    font-family: "Yekan";
    height: 1000px;
    direction: rtl;
    color: $text-color;
    background-color: $bg-color;
}
.Vue-Toastification__toast-body{
    font-family: "Yekan";
}
.number {
    font-family: "Vazir";
}
.paddinglayout {
    padding: 0px 100px;
}




.footer {
    background-color: #fff;
    h1 {
        padding-top: 50px;
    }
}

.content {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 50px 50px 50px;
    line-height: 50px;
}
h1 {
    margin-bottom: 20px;
    color: $text-color;
    font-size: 26px;
    font-weight: bold;
}
ul {
    list-style-type: circle;
}
.highlight {
    color: $primary;
    font-size: 100px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $primary_light;
}
.list {
    line-height: 10px;
}








